@charset "utf-8";

@media  screen and (max-width: 425px){

    body{
        font-size: 1.2rem;
    }

    header{
        /* display: none; */
        background-color: #00cad1;
        width: 100vw;
        height: auto;
        position: relative;
    }

    .div-topo{
       display: flex;
       flex-direction: column;
    }
    .navigation{
        border-top: 1px solid #d6d3d3;
        width: 100%;
    }

    .banner{
        /* border: 1px solid red; */
        height: 20rem;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    .banner div{
        /* border: 1px solid; */
        height: 100%;
    }
    .banner div article{
        /* border: 1px solid red; */
        font-size: 1.6rem;
        text-align: center;
    }

    #sobre{
        /* border: 1px solid red; */
        height: auto;
        
    }
    #sobre > div{
        /* border: 1px solid green; */
        width: 100%;
        text-align: center;
    }
    #sobre section{
        /* border: 1px solid green; */
        width: 100%;
    }
    #sobre section img{
        display: none;
    }

    .multiespecialidades > div{
        /* border: 1px solid green; */
        width: 90%;
    }
    .container-cards{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .cards{
        width: 100%;
        font-size: 1.4rem;
        font-weight: bold;
        border-radius: 1rem;
    }
    .multiespecialidades a{
        width: 15rem;
        font-size: 1.2rem;
    }

    #contato{
        /* border: 1px solid red; */
        line-height: 3rem;
    }
    #contato span{
        font-weight: bold;
        font-size: 1.3rem;
    }
    
} /* FIM DO ESTILO PARA TELAS ATÉ 425px */

/* INÍCIO DO ESTILO DE TELAS ATÉ 768px */

@media  screen  and (max-width: 768px){
    body{
        font-size: 2rem;
    }
    header{
        /* display: none; */
        background-color: #00cad1;
        width: 100vw;
        height: auto;
        position: relative;
    }

    .div-topo{
       display: flex;
       flex-direction: column;
    }
    .navigation{
        border-top: 2px solid #d6d3d3;
        width: 100%;
    }

    .banner{
        /* border: 1px solid red; */
        height: 30rem;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    .banner div{
        /* border: 1px solid; */
        height: 100%;
    }
    .banner div article{
        /* border: 1px solid red; */
        font-size: 2.8rem;
        text-align: center;
    }


    #sobre{
        /* border: 1px solid red; */
        height: 45rem;
    }
    #sobre > div{
        /* border: 1px solid green; */
        width: 100%;
        text-align: center;
        height: auto;
        margin-bottom: 2rem;
    }
    #sobre section{
        /* border: 1px solid green; */
        width: 100%;
    }
    #sobre section img{
        display: none;
    }

    .multiespecialidades > div{
        /* border: 1px solid green; */
        width: 90%;
    }
    .container-cards{
        /* border: 1px solid red; */
        width: 90vw;
        flex-wrap: wrap;
        padding: 0;
        align-items: center;
        gap: 1rem;

    }
    .cards{
        width: 45%;
        font-size: 1.5rem;
        font-weight: bold;
        border-radius: 1rem;
        margin: 1rem 0;
    }
    .multiespecialidades a{
        width: 20rem;
        font-size: 2rem;
    }

     #contato{ 
        /* border: 1px solid red; */
        width: 90vw;
        line-height: 3rem;
        align-items: center;
    }
    #contato span{
        font-weight: bold;
        font-size: 1.9rem;
    } 
}